
<!DOCTYPE html>
<!--[if lt IE 7]><html class="ng-csp ie ie6 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 7]><html class="ng-csp ie ie7 lte9 lte8 lte7" data-placeholder-focus="false"><![endif]-->
<!--[if IE 8]><html class="ng-csp ie ie8 lte9 lte8" data-placeholder-focus="false"><![endif]-->
<!--[if IE 9]><html class="ng-csp ie ie9 lte9" data-placeholder-focus="false"><![endif]-->
<!--[if gt IE 9]><html class="ng-csp ie" data-placeholder-focus="false"><![endif]-->
<!--[if !IE]><!--><html class="ng-csp" data-placeholder-focus="false"><!--<![endif]-->

	<head data-requesttoken="eb3cfba38f897740bf7f">
		<title>
		ownCloud		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-itunes-app" content="app-id=543672169">
		<link rel="shortcut icon" href="/ownClouds/release-community-7.0.1/core/img/favicon.png" />
		<link rel="apple-touch-icon-precomposed" href="/ownClouds/release-community-7.0.1/core/img/favicon-touch.png" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/styles.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/header.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/mobile.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/icons.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/fonts.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/apps.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/fixes.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/multiselect.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/jquery-ui-1.10.0.custom.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/jquery-tipsy.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/core/css/jquery.ocdialog.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
					<link rel="stylesheet" href="/ownClouds/release-community-7.0.1/3rdparty/css/strengthify/strengthify.css?v=970627414218ccff3497cb7a784288f5" type="text/css" media="screen" />
							<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery-1.10.0.min.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery-migrate-1.2.1.min.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery-ui-1.10.0.custom.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery-showpassword.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/placeholders.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery-tipsy.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/compatibility.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/underscore.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery.ocdialog.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/oc-dialogs.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/js.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/octemplate.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/eventsource.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/config.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/search/js/result.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/oc-requesttoken.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/apps.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/snap.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/placeholder.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/3rdparty/js/md5/md5.min.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/jquery.avatar.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/avatar.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/3rdparty/js/strengthify/jquery.strengthify.js?v=970627414218ccff3497cb7a784288f5"></script>
					<script type="text/javascript" src="/ownClouds/release-community-7.0.1/core/js/setup.js?v=970627414218ccff3497cb7a784288f5"></script>
		
			</head>
		<body id="body-login">
		<div class="wrapper"><!-- for sticky footer -->
			<div class="v-align"><!-- vertically centred box -->
				<header><div id="header">
					<div class="logo svg"></div>
					<div id="logo-claim" style="display:none;"></div>
				</div></header>

				<input type='hidden' id='hasMySQL' value='1'>
<input type='hidden' id='hasSQLite' value='1'>
<input type='hidden' id='hasPostgreSQL' value=''>
<input type='hidden' id='hasOracle' value=''>
<input type='hidden' id='hasMSSQL' value=''>
<form action="index.php" method="post">
<input type="hidden" name="install" value="true" />
		<fieldset class="warning">
		<legend><strong>Fehler</strong></legend>
				<p>
							Mac OSX wird nicht unterstützt und ownCloud wird auf dieser Platform nicht korrekt funktionieren. Benutzung auf eigenes Risiko!				<span class='hint'>Für die besten Resultate sollte stattdessen ein GNU/Linux Server verwendet werden.</span>
					</p>
			</fieldset>
					<fieldset id="adminaccount">
		<legend><strong>Administrator-Konto</strong> anlegen</legend>
		<p class="grouptop">
			<input type="text" name="adminlogin" id="adminlogin"
				placeholder="Benutzername"
				value=""
				autocomplete="off" autocapitalize="off" autocorrect="off" autofocus required />
			<label for="adminlogin" class="infield">Benutzername</label>
			<img class="svg" src="/ownClouds/release-community-7.0.1/core/img/actions/user.svg" alt="" />
		</p>
		<p class="groupbottom">
			<input type="password" name="adminpass" data-typetoggle="#show" id="adminpass"
				placeholder="Passwort"
				value=""
				autocomplete="off" autocapitalize="off" autocorrect="off" required />
			<label for="adminpass" class="infield">Passwort</label>
			<img class="svg" id="adminpass-icon" src="/ownClouds/release-community-7.0.1/core/img/actions/password.svg" alt="" />
			<input type="checkbox" id="show" name="show" />
			<label for="show"></label>
			<div class="strengthify-wrapper"></div>
		</p>
	</fieldset>

		<fieldset id="advancedHeader">
		<legend><a id="showAdvanced">Speicher &amp; Datenbank <img class="svg" src="/ownClouds/release-community-7.0.1/core/img/actions/caret.svg" /></a></legend>
	</fieldset>
	
		<fieldset id="datadirField">
		<div id="datadirContent">
			<label for="directory">Datenverzeichnis</label>
			<input type="text" name="directory" id="directory"
				placeholder="/Users/felix/Sites/ownCloud/systems/release-community-7.0.1/data"
				value="/Users/felix/Sites/ownCloud/systems/release-community-7.0.1/data"
				autocomplete="off" autocapitalize="off" autocorrect="off" />
		</div>
	</fieldset>
	
		<fieldset id='databaseBackend'>
				<legend>Datenbank einrichten</legend>
		<div id="selectDbType">
						<input type="radio" name="dbtype" value="sqlite" id="sqlite"
			/>
		<label class="sqlite" for="sqlite">SQLite</label>
								<input type="radio" name="dbtype" value="mysql" id="mysql"
			/>
		<label class="mysql" for="mysql">MySQL/MariaDB</label>
						</div>
	</fieldset>

				<fieldset id='databaseField'>
		<div id="use_other_db">
			<p class="grouptop">
				<label for="dbuser" class="infield">Datenbank-Benutzer</label>
				<input type="text" name="dbuser" id="dbuser"
					placeholder="Datenbank-Benutzer"
					value=""
					autocomplete="off" autocapitalize="off" autocorrect="off" />
			</p>
			<p class="groupmiddle">
				<input type="password" name="dbpass" id="dbpass" data-typetoggle="#dbpassword"
					placeholder="Datenbank-Passwort"
					value=""
					autocomplete="off" autocapitalize="off" autocorrect="off" />
				<label for="dbpass" class="infield">Datenbank-Passwort</label>
				<input type="checkbox" id="dbpassword" name="dbpassword" />
				<label for="dbpassword"></label>
			</p>
			<p class="groupmiddle">
				<label for="dbname" class="infield">Datenbank-Name</label>
				<input type="text" name="dbname" id="dbname"
					placeholder="Datenbank-Name"
					value=""
					autocomplete="off" autocapitalize="off" autocorrect="off"
					pattern="[0-9a-zA-Z$_-]+" />
			</p>
						<p class="groupbottom">
				<label for="dbhost" class="infield">Datenbank-Host</label>
				<input type="text" name="dbhost" id="dbhost"
					placeholder="Datenbank-Host"
					value="localhost"
					autocomplete="off" autocapitalize="off" autocorrect="off" />
			</p>
		</div>
		</fieldset>
			
	<p id="sqliteInformation" class="info">SQLite wird als Datenbank benutzt. Für größere Installationen wird empfohlen, dies zu ändern.</p>

	<div class="buttons"><input type="submit" class="primary" value="Installation abschließen" data-finishing="Abschließen ..." /></div>
</form>
			<div class="push"></div><!-- for sticky footer -->
			</div>
		</div>

		<footer>
			<p class="info">
				<a href="https://owncloud.org" target="_blank">ownCloud</a> – Web-Services unter Ihrer Kontrolle			</p>
		</footer>
	</body>
</html>
